{% extends "::base.html.twig" %}

{% block title %}CLBooksBundle:Book:showAll{% endblock %}

{% block body %}

    <h1> All books table </h1>
    
    <table class="table table-stripped">

        <thead>
            <tr>
                <th>Autor</th>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Operacje</th>
            </tr>
        </thead>

        {% for book in books %}
            <tbody>

                <tr>
                    <td>
                        {{book.author.name}}
                    </td>
                    <td>
                        {{book.title}}
                    </td>
                    <td>
                        {{book.description}}
                    </td>
                    <td>
                        <a href="/book/edit/{{book.id}}" class="btn btn-alert btn-xs">Edytuj</a>
                        <a href="/book/delete/{{book.id}}" class="btn btn-alert btn-xs">Usuń</a>
                    </td>
                </tr>
            </tbody>



        {% endfor %}
        <div style="margin-top: 20px">
            <a href="/" class="btn btn-primary btn-xs">Back to Main Page</a>
            <a href="/author/create" class="btn btn-primary btn-xs">Add Author</a>
            <a href="/book/create" class="btn btn-primary btn-xs">Add Book</a>
        </div>


    {% endblock %}
